extends layout

block content
  script(src='/javascripts/index.js')
  #header
    h1= title

  p Awesome Data Visualization Webpage!


  #apiList
  #etsy.logo
    img(src='https://s3.amazonaws.com/siteassets.etsy.com/press/Website/etsy-logo.png', alt='Etsy Logo')
