extends layout

block content
  // script(src='/javascripts/index.js')
  #header
    h1 = title

  #content.standardBorder
    p The Awesome Data Visualization Webpage!
    for image, api in apis
      .logo(id=api)
        a(href='/query/#{api}')
          img.logo(src=image, alt=api)
