extends layout

block content
  script(src='/javascripts/query.js')
  #header
    img.logo(src=image)
  
  #content.whiteBorder
    form(name='query', id='thequery')
      input(id='api', name='api', type='hidden', value=api)
      label(for='type') Type of thing:
      select(id='type', name='type')
        each search in options
          option(value=search.type) #{search.display}
      br
      label(for='search') Your Search:
      input(id='search', name='search', type='text')

    span.button#submit Submit Query
    
    
    a(href='/')
      span.button#submit Go Back to API


