body {
  text-align:center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 800px;
  background-image:url(http://blackboardmktg.com/wp-content/uploads/2011/11/blackboard-backgrounds-wallpapers.jpeg);
}

h1 {
	color : #FFFFFF;
	font : 20px;
}

ul{
  list-style-type: none;
  
}

ul li {
  display: inline; 
}

a {
  color: #00B7FF;
}

.standardBorder {
  border : solid;
  border-radius : 4px;
  border-color: #000000
}

.whiteBorder {
  border : solid;
  border-radius : 4px;
  border-color: #FFFFFF
}

.button {
  color: #FFFFFF ;
  padding : 8px;
  margin : 8px;
  margin-right: 20px;
  cursor : pointer;
  float : left;
}

.logo {
  width : 250px;
  /*height : 200px;*/
}

form {
    width: 100%;
  padding : 8px;
  margin : 16px;
  margin-bottom : -10px;
}

#picture {
  background:#FFFFFF;
    width: 100%;
	padding : 20px;
  margin: 20px;
  text-align : center;
}

.resultImage {
  width : 250px;
  margin : 10px;
  border-radius : 4px;
}

#small {
  margin : 10px;
  border-radius : 2px;
}

#response {
    background:#FFFFFF;
		text-align : center;
		padding : 20px;
    margin: 20px;
    width: 100%;
    
		
}

#submit {
	width : 100px;
  padding : 8px;
  margin : 16px;
  text-align : center;
}

#content {
  background:#FFFFFF;
    width: 100%;
  height : 100%;
  padding : 16px;
}

#header {
  text-align : center;
}

#body{
  text-align:left;
  width: 100%;
	margin:0px auto;
}
