body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.standardBorder {
  border : solid;
  border-radius : 8px;
}

.button {
  background-color : #DDF1FF;
  padding : 8px;
  margin : 8px;
  cursor : pointer;
}

.logo {
  /*width : 200px;*/
  height : 200px;
}

form {
  width : 33%;
  padding : 8px;
  margin : 16px;
}
